@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/LeagueSpartan-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'League Spartan', sans-serif;
}

html, body {
  @apply bg-bg;
  box-sizing: border-box !important;
  height: 100% !important;
  max-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}



