:root {
  --primary: #242f40;
  --secondary: #363636;
  --accent: #cca43b;
  --bg: #ffffff;
  --surface: #e5e5e5;
}

[data-theme='light'] {
  --primary: #242f40;
  --secondary: #363636;
  --accent: #cca43b;
  --bg: #ffffff;
  --surface: #e5e5e5;
}

[data-theme='dark'] {
  --primary: #f5f5f5;
  --secondary: #dcdcdc;
  --accent: #cca43b;
  --bg: #121212;
  --surface: #1e1e1e;
}
