:root {
  --primary: #242f40;
  --secondary: #363636;
  --accent: #7927dd;
  --bg: #ffffff;
  --surface: #e5e5e5;
}

[data-theme='light'] {
  --primary: #242f40;
  --secondary: #363636;
  --accent: #7927dd;
  --bg: #ffffff;
  --surface: #e5e5e5;
}

[data-theme='dark'] {
  --primary: #f5f5f5;
  --secondary: #dcdcdc;
  --accent: #7927dd;
  --bg: #031323;
  --surface: #1e1e1e;
}

//shaza color palette
//#7927dd accent
//#031323 background
