.project-section{
  height: var(--height);
  margin-top: var(--margin-top);
  width: 100%;
  background-color: var(--bg);
}
.project-container {
  display: flex;
  flex-direction: column;
}

.project-container.show {
  flex-direction: row;
  gap: 36px;
  padding-bottom: 4%;
}

.projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden !important;
}


.project {
  @apply w-full bg-accent rounded-s;
  height: 90%;
  width: 100%;
}

.project.show {
  @apply w-full bg-accent rounded-s;
  height: 100%;
  width: 100%;
}

.projects.show {
  flex-direction: column;
  width: 40%;
}


.selected-project {
  opacity: 0;
  transition: opacity 0.3s;
}

.selected-project.show {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--accent);
}


