<div class="full-screen">

  <div class="tool-bar">
    <div class="tool-bar-content">
      <div class="logo">
        {{ "toolBar.name" |translate }}
      </div>
      <div class="tab-container">
        <div class="tool-bar-buttons">
          {{ "toolBar.home" |translate }}
        </div>
        <div class="tool-bar-buttons">
          {{ "toolBar.about" |translate }}
        </div>
        <div class="tool-bar-buttons">
          {{ "toolBar.portfolio" |translate }}
        </div>
        <div class="tool-bar-buttons">
          <app-language-toggle/>
        </div>
        <div class="tool-bar-buttons">
          <app-theme-toggle/>
        </div>
      </div>
    </div>
  </div>

  <div class="out-let-body">
    <router-outlet></router-outlet>
  </div>
</div>
