.full-screen {
  @apply bg-bg;
  height: 100vh;
  width: 100%;
}

.tool-bar {
  @apply flex w-full items-center justify-center;
}

.tool-bar-content {
  @apply h-14 text-secondary bg-bg;
  position: fixed;
  top: 0;
  bottom: 36px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

.out-let-body {
  @apply px-10;
  min-height: calc(100vh - 128px);
  overflow: auto !important;
}

.tab-container {
  display: flex;
  gap: 16px;
}

.tool-bar-buttons {
  @apply cursor-pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

