<!--<div class="flex flex-col items-center justify-center gap-4 bg-gray-200 dark:bg-gray-700 min-h-screen">-->
<!--  <div #box class="box">Animate Me</div>-->
<!--  <h1 class="text-3xl font-bold underline">-->
<!--    Hello World!-->
<!--  </h1>-->
<!--  <button class="p-2 bg-red-400 text-white rounded" (click)="changeTheme()">-->
<!--    Change Theme-->
<!--  </button>-->

<!--  <div #parallax class="parallax">-->
<!--    <div class="layer layer-red"></div>-->
<!--    <div class="layer layer-blue"></div>-->
<!--  </div>-->


<!--  @for (section of sections; track section; let i = $index) {-->
<!--    <div class="section">-->
<!--      <h1>Section {{ i + 1 }}: {{ section }}</h1>-->
<!--    </div>-->
<!--  }-->

<!--</div>-->
<router-outlet></router-outlet>
