.experience-container {
  @apply bg-green-50;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;

}

.experience-section {
  height: var(--height);
  margin-top: var(--margin-top);
  width: 100%;
  z-index: 12;
}


img {
  z-index: 12;
}
