.experience-container {
  @apply bg-green-50;
  z-index: 9;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.experience-section {
  height: var(--height);
  margin-top: var(--margin-top);
  width: 100%;
}
