.landing-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--height);
  max-height: var(--height);
  margin-top: var(--margin-top);
  width: 100%;
  overflow: hidden !important;
}

.left-section {
  height: 100%;
  width: 40%;
  overflow: hidden !important;
}

.full-name {
  font-weight: 500;
  font-size: 82px;
}

.job-title {
  @apply font-bold text-accent;
  font-size: 26px;
}

.hello {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hello {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.right-section {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-image-container {
  position: relative;
}

.personal-image-background {
  fill: var(--accent);
  width: 800px;
  height: 800px;
}


@keyframes image-animation {
  0% {
    opacity: 0;
    top: 0;
    left: 37%;
  }

  100% {
    top: 40%;
    left: 37%;
  }
}
