.landing-section {
  display: flex;
  flex-direction: row;
  height: 200vh;
  margin-top: var(--margin-top);
  width: 100%;
  overflow: hidden !important;
}

.left-container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-name {
  font-size: 88px;
  color: var(--accent);
}

.right-section {
  height: 200vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.image-background {
  height: 100vh;
}
